<a href="https://colab.research.google.com/github/Joonw00/tensor_game/blob/main/Tensor_shoes_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd

In [3]:
신발 = pd.read_csv("/content/shoe.csv")
print(신발.columns)
신발.head()

Index(['스타포스', '추옵', '주스텟퍼', '아랫잠', '가격'], dtype='object')

   스타포스   추옵  주스텟퍼  아랫잠    가격
0    17  110    15  1.0  12.0
1    17  110    21  1.0  25.0
2    18  104    15  2.0  24.0
3    18  111    15  1.5  16.5
4    17  109    15  1.3  13.5

In [4]:
독립 = 신발[['스타포스', '추옵', '주스텟퍼', '아랫잠']]
종속 = 신발[['가격']]
print(독립.shape, 종속.shape)

(48, 4) (48, 1)

In [23]:
w1 = tf.Variable(tf.random.normal([1]), name = 'star')
w2 = tf.Variable(tf.random.normal([1]), name = 'added')
w3 = tf.Variable(tf.random.normal([1]), name = 'stat')
w4 = tf.Variable(tf.random.normal([1]), name = 'under')
b = tf.Variable(tf.random.normal([1]), name = 'bias')

@tf.function
def hypo(X1,X2,X3,X4):
  return X1 * w1 + X2 * w2 + X3 * w3 + X4 * w4 +b

# Y = 종속
# cost = tf.reduce_mean(tf.square(hypo - Y))

# 텐서 사이트에 있는 거랑 좀 다르게 사용했음
optimizer = tf.optimizers.SGD(learning_rate=0.01) 

# train = optimizer.minimize(cost)

# 실행..데이터 없어서 안됨, 다른 에러는 없는 듯
sess = tf.compat.v1.Session()
sess.run(tf.compat.v1.global_variables_initializer())

# 데이터 추가


sess.close()

RuntimeError: ignored